.profile-avatar {
    display: block;
    padding-top: 2rem;
    background-color: aquamarine;
    background-clip: content-box;
}

div.profile-name {
    text-align: center;
    text-decoration: underline;
}
