.navbar-brand {
    font-family: 'Courier New', Courier, monospace, serif;
  }
  
  .navbar-nav {
    font-family: 'Courier New', Courier, monospace, serif;
  }

.navbar {
  background-color: #2e294e;
}